body {
	padding: 0;
	margin: 0;
}

#page {
	width: 320px;
	border: 1px solid #202020;
}

header {
	position: relative;
	margin: 0;
	height: 30px;
	border-bottom: 1px solid #202020;
}

h1 {
	height: 30px;
	margin: 0;
	padding: 0;
	padding: 3px 2px;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: 200;
	text-align: center;
}

.sign {
	position: absolute;
	top: 4px;
	left: 5px;
	height: 30px;
	font-size: 14px;
}


.register{
	position: absolute;
	top: 4px;
	right: 5px;
	height: 30px;
	font-size: 14px;
}


.message {
	border: 1px solid #101010;
	margin: 10px;
}

.header {
	margin: 15px 10px;
}

.header>span {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.header>a {
	position: relative;
	left: 150px;
}

.content {
	width: 130px;
	height: 40px;
	margin: 8px;
	margin-top: 0;
	display: inline-block;
	border: 1px solid #101010;
}

p {
	margin: 0;
	padding: 0;
}

.p1 {
	color: #337ab7;
}

.table {
	margin: 0;
}

.table{
	text-align: center;
}

.table td{
		border-top: 1px solid #000 !important;
}

td{
	border-right:1px solid #000;
}

.td-end{
	border-right:0;
}
