.moble_size {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 480px;
	border: 1px solid gray
}

.u1 {
	border: 1px solid #000
}

.u1 p {
	margin-top: 5px;
	font-size: 18px;
}

.u1 a {
	margin-top: 6px;
}

.u2 {
	height: 140px;
}

.u2 img {
	margin-left: 120px;
	margin-top: 40px;
}

a {
	color: #333333;
}

a:hover {
	text-decoration: none;
}